<!-- 
 * Noetic-Multi-Robot-Sandbox for multi-robot research using ROS Noetic
 * Copyright (C) 2020 Alysson Ribeiro da Silva
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>
    <arg name="robot_id" default="0"/>
    <arg name="robot_count" default="1"/>
    <arg name="method" default="silva_2024"/>

    <!-- GLOBAL -->
    <param name="robots" type="int" value="$(arg robot_count)"/>
    <param name="debug" type="bool" value="true" />

    <!-- load starting poses -->
    <rosparam command="load" file="$(find multirobotexploration)/config/gazebo_robots_start_pose.yaml" />

    <!-- load rendezvous plan -->
    <rosparam command="load" file="$(find multirobotexploration)/config/rendezvous_plan.yaml" />

    <!-- load the rendezvous footprint for each robot -->
    <rosparam command="load" file="$(find multirobotexploration)/config/rendezvous_footprint.yaml" />

    <group ns="robot_$(arg robot_id)">
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_front">
            <remap from="cloud_in" to="/robot_$(arg robot_id)/camera/points"/>
            <remap from="scan" to="/robot_$(arg robot_id)/ultrasonic_front"/>
            <param name="target_frame" value="robot_$(arg robot_id)/stereo_camera"/>
            <rosparam>
                min_height: -0.1
                max_height: 0.5
                angle_min: -1.57 # -M_PI/2
                angle_max: 1.57 # M_PI/2
                angle_increment: 0.049 # M_PI/360.0
                scan_time: 0.01
                range_min: 0.0
                range_max: 10.0
                use_inf: true
                inf_epsilon: 1.0
                concurrency_level: 1
            </rosparam>
        </node>

        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_back">
            <remap from="cloud_in" to="/robot_$(arg robot_id)/camera_back/points"/>
            <remap from="scan" to="/robot_$(arg robot_id)/ultrasonic"/>
            <param name="target_frame" value="robot_$(arg robot_id)/stereo_camera_back"/>
            <rosparam>
                min_height: -0.1
                max_height: 0.5
                angle_min: -1.57 # -M_PI/2
                angle_max: 1.57 # M_PI/2
                angle_increment: 0.049 # M_PI/360.0
                scan_time: 0.01
                range_min: 0.0
                range_max: 10.0
                use_inf: true
                inf_epsilon: 1.0
                concurrency_level: 1
            </rosparam>
        </node>

        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_left">
            <remap from="cloud_in" to="/robot_$(arg robot_id)/camera_left/points"/>
            <remap from="scan" to="/robot_$(arg robot_id)/ultrasonic_left"/>
            <param name="target_frame" value="robot_$(arg robot_id)/stereo_camera_left"/>
            <rosparam>
                min_height: -0.1
                max_height: 0.5
                angle_min: -1.57 # -M_PI/2
                angle_max: 1.57 # M_PI/2
                angle_increment: 0.049 # M_PI/360.0
                scan_time: 0.01
                range_min: 0.0
                range_max: 10.0
                use_inf: true
                inf_epsilon: 1.0
                concurrency_level: 1
            </rosparam>
        </node>

        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_right">
            <remap from="cloud_in" to="/robot_$(arg robot_id)/camera_right/points"/>
            <remap from="scan" to="/robot_$(arg robot_id)/ultrasonic_right"/>
            <param name="target_frame" value="robot_$(arg robot_id)/stereo_camera_right"/>
            <rosparam>
                min_height: -0.1
                max_height: 0.5
                angle_min: -1.57 # -M_PI/2
                angle_max: 1.57 # M_PI/2
                angle_increment: 0.049 # M_PI/360.0
                scan_time: 0.01
                range_min: 0.0
                range_max: 10.0
                use_inf: true
                inf_epsilon: 1.0
                concurrency_level: 1
            </rosparam>
        </node>

        <node name="MOCK_COMM_MODEL" pkg="multirobotexploration" type="mockcommunicationmodelnode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="2.0"/>
            <param name="queue_size" type="int" value="2"/>
            <param name="comm_dist" type="double" value="5.0"/>
        </node>

        <node name="node_averagevelocityestimator" pkg="multirobotexploration" type="averagevelocityestimatornode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="1.0"/>
            <param name="queue_size" type="int" value="2"/>
            <param name="count" type="int" value="10"/>
        </node>

        <node name="node_gmappingpose" pkg="multirobotexploration" type="gmappingposenode">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="3"/>
            <param name="queue_size" type="int" value="2" />
        </node>

        <node name="node_relativeposes" pkg="multirobotexploration" type="relativeposeestimatornode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="3" />
            <param name="queue_size" type="int" value="2" />
        </node>
        
        <node name="node_cspace" pkg="multirobotexploration" type="cspacenode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="queue_size" type="int" value="2"/>
            <param name="rate" type="double" value="1"/>
            <param name="free_inflation_radius" type="double" value="0.3"/>
            <param name="ocu_inflation_radius" type="double" value="1.0"/>
            <remap from="/robot_$(arg robot_id)/map" to="/robot_$(arg robot_id)/fusion"/>
        </node>

        <node name="node_mapsticthing" pkg="multirobotexploration" type="mapstitchingnode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="1"/>
            <param name="queue_size" type="int" value="2" />
            <param name="merge" type="bool" value="true" />
        </node>

        <node name="node_frontierdiscovery_node" pkg="multirobotexploration" type="frontierdiscoverynode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="1"/> 
            <param name="cluster_detection_min" type="int" value="3"/>
            <param name="queue_size" type="int" value="2" />
        </node>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find multirobotexploration)/config/planner_$(arg robot_id)/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find multirobotexploration)/config/planner_$(arg robot_id)/global_costmap_params.yaml" command="load" /> 
            <rosparam file="$(find multirobotexploration)/config/planner_$(arg robot_id)/base_local_planner_params.yaml" command="load" />
            <rosparam file="$(find multirobotexploration)/config/move_base_params.yaml" command="load"/>
            <rosparam file="$(find multirobotexploration)/config/navfn_global_planner_params.yaml" command="load"/>
            <param name="costmap_converter_plugin" value="costmap_converter::CostmapToPolygonsDBSMCCH"/>
            <remap from="/cmd_vel" to="/robot_$(arg robot_id)/cmd_vel"/>
        </node>

        <node name="map_service" pkg="multirobotexploration" type="maprequestservicenode" output="screen">
            <param name="robot_id" value="$(arg robot_id)"/>
            <param name="namespace" value="/robot_$(arg robot_id)"/>
            <param name="rate" value="1"/>
        </node>

        <!-- <node name="node_cspace_local" pkg="multirobotexploration" type="cspacenode" output="screen">
            <param name="id" type="int" value="$(arg robot_id)"/>
            <param name="queue_size" type="int" value="2"/>
            <param name="rate" type="double" value="1"/>
            <param name="free_inflation_radius" type="double" value="0.0"/>
            <param name="ocu_inflation_radius" type="double" value="0.0"/>
            <param name="mark_robots_for_planning" type="bool" value="true"/>
            <remap from="/robot_$(arg robot_id)/c_space" to="/robot_$(arg robot_id)/c_space_local"/>
        </node> -->

        <node name="octomap" pkg="octomap_server" type="octomap_server_node" output="log">
            <param name="frame_id" value="robot_$(arg robot_id)/map"/>
            <param name="resolution" value="0.5"/>
            <param name="base_frame_id" value="robot_$(arg robot_id)/base_link"/>
            <param name="sensor_model/max_range" value="20.0"/>
            <param name="sensor_model/min_range" value="0.05"/>
            <param name="sensor_model/hit" value="0.7"/>
            <param name="sensor_model/miss" value="0.4"/>
            <param name="pointcloud_min_z" value="0.2"/>
            <param name="pointcloud_max_z" value="1.0"/>
            <remap from="/robot_$(arg robot_id)/cloud_in" to="/robot_$(arg robot_id)/obstacle_cloud"/>
            <remap from="/robot_$(arg robot_id)/projected_map" to="/robot_$(arg robot_id)/map"/>
            
        </node>
        <include file="$(find laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_assembler.launch">
            <arg name="laser_scan_topics" value="/robot_$(arg robot_id)/scan"/>
            <arg name="pointcloud_publish_topic" value="/robot_$(arg robot_id)/obstacle_cloud"/>
            <arg name="target_frame" value="robot_$(arg robot_id)/laser" />
        </include>
        <node name="static_map_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 /robot_$(arg robot_id)/map /robot_$(arg robot_id)/odom"/>

        <!-- select policy -->

        <node name="node_policy" pkg="multirobotexploration" type="alysson2024" output="screen" if="$(eval arg('method') == 'silva_2024')">
            <param name="id" value="$(arg robot_id)"/>
            <param name="rate" value="1"/>
            <param name="queue_size" value="1000"/>
            <param name="waiting_threshold" value="10000.0"/>
        </node>

        <node name="node_policy" pkg="multirobotexploration" type="alysson2025" output="screen" if="$(eval arg('method') == 'silva_2025')">
            <param name="id" value="$(arg robot_id)"/>
            <param name="rate" value="1"/>
            <param name="queue_size" value="2"/>
            <param name="waiting_threshold" value="10000.0"/>
        </node>

        <node name="node_policy" pkg="multirobotexploration" type="priorityallocationnode" output="screen" if="$(eval arg('method') == 'priority_allocation')">
            <param name="id" value="$(arg robot_id)"/>
            <param name="rate" value="1"/>
            <param name="queue_size" value="2"/>
        </node>

        <node name="node_policy" pkg="multirobotexploration" type="randomizedsocialwelfare" output="screen" if="$(eval arg('method') == 'randomized_social_welfare')"> 
            <param name="id" value="$(arg robot_id)"/>
            <param name="rate" value="1"/>
            <param name="queue_size" value="2"/>
        </node>

        <node name="node_policy" pkg="multirobotexploration" type="yamauchi1999" output="screen" if="$(eval arg('method') == 'yamauchi_1999')"> 
            <param name="id" value="$(arg robot_id)"/>
            <param name="rate" value="1"/>
            <param name="queue_size" value="2"/>
        </node>

        <!-- <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find multirobotexploration)/rviz/robot_$(arg robot_id).rviz"/> -->
    </group>

</launch>